[MASTER]
# C0114 (missing-module-docstring)
# C0115 (missing-class-docstring)
# C0116 (missing-function-docstring)
# R0903 (too-few-public-methods)
disable= C0114, C0115, C0116, R0903

init-hook="import imp, os; from pylint.config import find_pylintrc; imp.load_source('import_hook', os.path.join(os.path.dirname(find_pylintrc()), 'import_hook.py'))"