[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"]}
requests = "*"
PyTrie3 = "*"
phonetisch = "*"

[dev-packages]
pytest = "*"